# API
fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.1

# Machine Learning
scikit-learn==1.4.2
imbalanced-learn==0.12.3

# Data
numpy==1.26.4
pandas==2.2.2

# Visualisation (notebook uniquement)
matplotlib==3.8.4
seaborn==0.13.2
